@import "tailwindcss";

:root {
  --background: #0B0118;
  --foreground: #f8fafc;
  
  --card: #16082C;
  --primary: #7c3aed; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary-accent: var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #16082C inset !important;
  transition: background-color 5000s ease-in-out 0s;
}